
* {
  -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
      -o-box-sizing:border-box;
        box-sizing:border-box;
}

body, html {
  margin:0;padding:0;
  font-family: "Open Sans", sans-serif;
}   

.popup_container {
  position:relative;
  width:560px;
  border-radius: 3px;
}

.popup_container .header {
  position: relative;
  width: 100%;
  text-align: center;
  background: rgb(65,73,121);
}

.popup_container .header .upper_header{
  position: relative;
  width: 100%;
  padding: 15px;
}

.popup_container .header .upper_header h1 {
  color:#FFF;
  font-size: 24px;
  display: inline;
  padding:0 0 3px 0;margin:0;
  border-bottom: 3px solid rgba(56,175,223,0.65);
}

.popup_container .header .lower_header {
  position: relative;
  width:100%;
}

.popup_container .header .lower_header ul { list-style-type: none; margin: 0;padding: 0; }
.popup_container .header .lower_header ul  li { 
  display: inline-block; 
  margin-right: 45px;
  font-size: 14px;
  color: #FFFFFF;
  padding-bottom: 5px
}
.popup_container .header .lower_header ul li.active,
.popup_container .header .lower_header ul li:hover  {
  border-bottom: 2px #FFF solid; 
}

.popup_container .header .lower_header ul li a {
  text-decoration: none;
  color:#FFF;
}
.popup_container .header .lower_header ul li a i {
  font-size: 20px;
  color:#FFF;
  margin-right: 10px;
}
.popup_container .header .lower_header ul  li:last-child { margin:0 !important;}

.popup_container .share_content {
  position:relative;
  width: 100%;
  height:300px;
  background-image: radial-gradient(48% 156%, #38AFDF 0%, #52D2B0 100%);
  overflow: hidden;
}

.popup_container .share_content section {
  position: absolute;
  width: 100%;height: 100%; 
  margin: 0;
  padding: 50px 0 30px 0;
}

.share_content a.button {
  background: #42BDE5;
  border-radius: 2px;
  text-align: center;
  color:#FFF;
  font-size: 18px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  text-decoration: none;
}

/*  GENERAL SEARCH */
.share_search a.button.send,
.share_email a.button.send,
.share_url a.button.send  {  padding:3px 66px;  }

.share_search .button_container,
.share_email .button_container,
.share_url .button_container {
  position: absolute;
  bottom:30px;
  width: 100%;
  text-align: center;
}

/*  SHARE SEARCH */
.share_search a.button.search {  padding: 3px 21px; margin-left: 10px; }

.share_search .input_container {
  position: relative;
  text-align: center;
  color:#FFF;
}
.share_search .input_container .input_label {
  font-size: 18px;
  margin-bottom: 2px;
  width: 408px;
}
.share_search .input_container input {
  width:300px;
  font-size: 18px;
  padding: 5px 5px;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.30);
  border-radius: 2px;
  border:none;
  color:rgba(0,0,0,0.7);
}

/*  SHARE EMAIL */
.share_email .input_container {
  position: relative;
  text-align: center;
  color:#FFF;
}
.share_email .input_container .input_label {
  font-size: 18px;
  margin-bottom: 10px;
  width: 350px;
}
.share_email .input_container .input_sub_label {
  font-size: 12px;
  margin-bottom: 10px;
  width: 492px;
}
.share_email .input_container input {
  width: 400px;
  font-size: 18px;
  padding: 5px 5px;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.30);
  border-radius: 2px;
  border:none;
  opacity: 0.38;
  margin-bottom:10px;
}

/*  SHARE URL*/
.share_url .input_container {
  position: relative;
  width: 470px;
  margin: auto auto;
  color:#FFF;
}
.share_url .input_container .input_label {
  font-size: 18px;
  margin-bottom: 10px;
  width: 390px;
}
.share_url .input_container .input_sub_label {
  font-size: 14px;
  margin-bottom: 10px;
  width: 520px;
}
.share_url .input_container input {
  width: 100%;
  font-size: 18px;
  padding: 5px 5px;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.30);
  border-radius: 2px;
  border:none;
  opacity: 0.7;
  margin-bottom:10px;
}
.share_url a.button.copy  {  
  padding: 3px 10px; 
  background: #FFF; 
  color: #38AFDF;
  border: 1px solid #38AFDF;
}
.share_url a.button.copy.clicked  {  
  background: #38AFDF;
  color: #FFFFFF;
}



.hide {
  display: none;
}