

****
53PX
****

center aligned
/* Your New Tool: */
font-family: OpenSans-Bold;
font-size: 48px;
color: #424A7A;
line-height: 65px;


****
11px
****

center aligned
/* One place for all yo: */
font-family: OpenSans-Bold;
font-size: 24px;
color: #424A7A;
line-height: 22px;


*****
116px
*****

right aligned on the colorful "thingy" 15 px left from the begining of the computer. 
/* Sell your service on: */
font-family: OpenSans-Semibold;
font-size: 16px;
color: #FFFFFF;
line-height: 40px;



