* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}


html, body {
	background: url("../img/bg.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
				background-size: cover;
}


header {
	position: fixed;
	width: 100%;
	height: 90px;
	padding:30px;
	box-sizing:border-box;
		-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
	z-index: 100;
}
#canvas {
    opacity:1;
    z-index: 100;
    position: absolute;
    display: block;
    width:100%;
    height:100%;

}
.blur_overlay {
	position: fixed;
	width: 100%;
	height: 90px;
	padding:30px;
	box-sizing:border-box;
		-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
	z-index: 99;
	background: transparent;
    overflow: hidden;
}

/* NAVIGATION */
header .navigation {}
header .navigation ul { 
	position: relative;
	list-style-type: none;
	text-align: center;
	margin: 0;padding: 0;
}
header .navigation ul li { 
	margin: 0 15px 2px 15px; 
	font-size: 18px;
	color: #FFF;
	font-weight: 400;
	display: inline-block;
}
header .navigation ul li.active {
	border-bottom: 3px #38AFDF solid;
	font-weight: bold;
}
header .navigation ul li:hover {
	border-bottom: 3px #38AFDF solid;
} 
header .navigation ul li a {
	text-decoration: none;
	color: #FFF;
}

/* LEFT LOGO BLOCK*/
header .icon_block {
	position: absolute;
	float: left;
	bottom: 25px;
	z-index: 10;
}
header .icon_block a {
	text-decoration: none;
}
header .icon_block .quote {
	position: relative;
	font-size: 14px;
	color: #979797;
	display: inline-block;
	bottom: 10px;
}
header .icon_block ul {
	position: relative;
	float: right;
	list-style-type: none;
	top: 10px;
	left: 30px;
}
header .icon_block ul li {
	float: left;
	margin:0 7px;
}
header .icon_block ul li .icon_notification {
	background: url("../img/icon_oval.png");
	background-size: 24px 24px;
	width: 24px;height: 24px;
	font-size: 16px;
	color: #424A7A;
	text-align: center;
	background-repeat: no-repeat;
}

/* USER PROFILE */
header .user_profile {
	position: absolute;
	right:30px;
	bottom: 25px;
	z-index: 10;
}
header .user_profile a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 400;
}
header .user_profile .user_name {
	font-size: 12px;
	color: #FFFFFF;
	float: right;
	margin-left: 10px;
}


/* MAIN_CONTAINER */
section.main_container {
	position: relative;
	height:100%;
	padding: 140px;
}

.main_container .row {
	position: relative;
	background:#FFFFFF;
	height: 200px;width: 100%;
	margin-bottom: 50px;
}

/* Responsive */
@media screen and (max-width:1300px) {
   .resp-disappear {
		display: none !important;
	}
}

/* HELPER CLASSES */
