<div  data-ng-repeat="video in videos" ng-if="(videos[$index].size == '6' && videos[$index+1].size == '6') || video.size == '12'">
	<!-- Two Small videos -->
	<div data-ng-if="video.size == '6'" class="row">

		<a href="{{video.url}}" target="_blank" class="col-md-6">
			<img data-ng-src="{{video.img}}" class="img-responsive"  alt="Sochi"><br/>
		</a>
		
		<a href="{{videos[$index+1].url}}" target="_blank" class="col-md-6">
			<img data-ng-src="{{videos[$index+1].img}}" class="img-responsive"  alt="Sochi"><br/>
		</a>

	</div>
	<!-- Large Video -->
	<div data-ng-if="video.size == '12'" class="row">
		<a href="{{video.url}}" target="_blank" class="col-md-12">
			<img data-ng-src="{{video.img}}" class="img-responsive"  alt="Sochi"><br/>
		</a>
	</div>
</div>


<!-- <div class="flex-video widescreen">
    	<iframe src="//player.vimeo.com/video/87254228" frameborder="0" allowfullscreen=""></iframe>
    </div> -->

