<div  data-ng-repeat="video in videos" ng-if="(videos[$index].size == '6' && videos[$index+1].size == '6') || video.size == '12'">
	<!-- Two Small videos -->
	<div data-ng-if="video.size == '6'" class="row">
		<img data-ng-src="{{video.img}}" class="img-responsive img-responsive-videos lazy" class="col-md-6" class="video_block"><br/>
		<img data-ng-src="{{videos[$index+1].img}}" class="img-responsive img-responsive-videos lazy" class="col-md-6" class="video_block"><br/>
	</div>

	<!-- Large Video -->
	<div data-ng-if="video.size == '12'" class="row">
		<img data-ng-src="{{video.img}}" class="img-responsive img-responsive-videos lazy" class="col-md-12" class="video_block"><br/>
	</div>
</div>